@model CarSales.Models.VehicleAdvertisement

@{
    ViewBag.Title = "Details";
}

 

<div>
     
    <p>&nbsp;</p>
    <div class="row" >
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 class="text-primary">
                            @Html.DisplayFor(model => model.Reference_No)
                        </h4>
                        <small class="text-danger">
                            <cite title="Price">
                                Price: @Html.DisplayFor(model => model.Price) <i class="glyphicon glyphicon-usd">
                                </i>
                            </cite>
                        </small>
                        <p class="text-primary">
                            <i class="glyphicon glyphicon-info-sign"></i> BodyType: @Html.DisplayFor(model => model.BodyType)
                            <br />
                            <i class="glyphicon glyphicon-info-sign"></i> EngineCapacity: @Html.DisplayFor(model => model.EngineCapacity)
                            <br />
                            <i class="glyphicon glyphicon-info-sign"></i> AudoMeter: @Html.DisplayFor(model => model.AudoMeter)
                            <br />
                            <i class="glyphicon glyphicon-info-sign"></i> Fuel: @Html.DisplayFor(model => model.Fuel)
                            <br />
                            <i class="glyphicon glyphicon-info-sign"></i> Description: @Html.DisplayFor(model => model.Description)
                        </p>
                        
                    </div>
                    <a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-default">
                        Edit
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>

                    <a href="@Url.Action("Index" )" class="btn btn-default">
                        Back to List
                        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
  
     

    
   
</div>

